<div class="container">
  <form class="row mt-3 g-3 g-2 align-items-center justify-content-center">
    <div class="col-sm-6">
        <!-- <label class="visually-hidden" for="#specificSizeInputName">Wish</label> -->
        <input type="text" name="just-a-name" class="form-control" [(ngModel)]="NewItemText">
    </div>
    <div class="col-auto">
        <button type="submit" 
        class="btn btn-primary"
        (click)="$event.preventDefault(); addnewItem();"
        >Add Item</button>
    </div>

    <div class="row mt-3">
      <div class="col-sm-2">
          <select 
          name="a"
          class="form-select"
          [(ngModel)]="listFilter"
          >
              <option value="0">All</option>
              <option value="1">Unfulfilled</option>
              <option value="2">Fulfilled</option>
          </select>
      </div>
  </div>

</form>
<app-add-list
[items]="visibleItems"
></app-add-list>
  </div>